<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show</title>
</head>
  <body>
  {% load staticfiles %}

  <img src="/static/disappearingninjas/images/blue.jpg" alt="Ninja Turtles Image Here" />
  <img src="/static/disappearingninjas/images/red.jpg" alt="Ninja Turtles Image Here" />
  <img src="/static/disappearingninjas/images/orange.jpg" alt="Ninja Turtles Image Here" />
  <img src="/static/disappearingninjas/images/purple.jpg" alt="Ninja Turtles Image Here" />
</body>
</html>
